.d-Container{
    display: flex;
    margin-inline: auto;
    margin: 0 20px;
    gap: 20px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.d-Box-Container-1{
    flex: 0;
    background-color: rgb(70, 70, 70);
    padding: 20px;
}

.d-Navbar-Container{
    text-align: center;
    margin: 100px 35px;
}

.d-Navbar-Brand{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;  
    color: white;
    text-align: center;
    cursor: default;
}

.d-Nav-Container{
    margin: 50px 0;
    text-align: center;
}

.d-Nav-Item{
    margin: 20px 0;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
}

.d-Link-Item{
    white-space: nowrap;
    text-decoration: none;
    color: white;
}

.d-Nav-Item:hover{  
    text-shadow: 1px 0 0 white;
}

.d-Box-Container-2{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color: rgb(70, 70, 70);
    padding: 20px;
}