 .ad-ShowUser-Form-Container{
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 40, 40);
    border-radius: 20px;
    padding: 50px;
    margin: 10px 30px;
}

.ad-ShowUser-Form-Title{
    margin: 10px 0;
    cursor: default;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

.ad-ShowUser-Form-Label{
    font-family: sans-serif;
    font-size: 18px;
    color: white;
}

.ad-ShowUser-Form-Control{
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 5px 0;
}

.ad-ShowUser-Form-Button-Container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ad-ShowUser-Form-Button-1, .ad-ShowUser-Form-Button-2{
    border: none;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
}

.ad-ShowUser-Form-Button-1:hover{
    transition: 1s ease;
    background-color: rgb(145, 145, 145);
}

.ad-ShowUser-Form-Button-2:hover{
    transition: 1s ease;
    background-color: rgb(145, 145, 145);
}

.ad-ShowUser-Form-Button-1:not(:hover){
    transition: 1s ease;
    background-color: white;
}

.ad-ShowUser-Form-Button-2:not(:hover){
    transition: 1s ease;
    background-color: white;
}

.ad-ShowUser-Table-Container{
    background-color: rgb(40, 40, 40);
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

.ad-ShowUser-Table-Title{
    margin: 10px 0;
    cursor: default;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

.ad-ShowUser-Table-Button{
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.ad-ShowUser-Table-Button:hover{
    transition: 1s ease;
    background-color: rgb(145, 145, 145);
}

.ad-ShowUser-Form-Button-1:not(:hover){
    transition: 1s ease;
    background-color: white;
}

.ad-ShowUser-Scrollbar{
    overflow-y: auto;
}

.ad-ShowUser-THead-Container, .ad-ShowUser-TBody-Container{
    font-size: 15px;
    font-family: sans-serif;
    color: white;
}

.ad-ShowUser-TH-Row{
    padding: 0 10px;
}

.ad-ShowUser-TD-Colspan{
    text-align: center;
}

.ad-ShowUser-TD-Row{
    text-align: center;
}