.s-FeedBack-Form-Container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(40, 40, 40);
    border-radius: 20px;
    padding: 50px;
    margin: 10px 30px;
}

.s-FeedBack-Form-Label{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

.s-FeedBack-Form-Control{
    border-radius: 5px;
}

.s-FeedBack-Form-Button-Container{
    display: flex;
    justify-content: center;
}

.s-FeedBack-Form-Button{
    border: none;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
}

.s-FeedBack-Form-Button:hover{
    transition: 1s ease;
    background-color: rgb(145, 145, 145);
}

.s-FeedBack-Form-Button:not(:hover){
    transition: 1s ease;
    background-color: white;
}